.dashboard{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.header{
    display: flex;
    padding: 1rem;
}
.header input[type='text']{
    margin: 0  1rem  0 0;
    width: 80%;
    height: 30px;
}
.month_cards{
    display: flex;
    flex-wrap: wrap;
}